force-app/main/default/flows/Create_Investment2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>BUY_SELL</name>
        <label>BUY/SELL</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FOR_BUY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BUY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Investment</targetReference>
            </connector>
            <label>FOR BUY</label>
        </rules>
        <rules>
            <name>FOR_SELL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Watchlist_StocksAvl</targetReference>
            </connector>
            <label>FOR SELL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main</name>
        <label>Main</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Createit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Investment.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_create_Investment</targetReference>
            </connector>
            <label>Createit</label>
        </rules>
        <rules>
            <name>Update_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Investment.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TickerName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_it1</targetReference>
            </connector>
            <label>Update it</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdateAmount</name>
        <dataType>Currency</dataType>
        <expression>{!get_Investment.Amount_Invested__c}+{!$Record.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateAmountInInvestment</name>
        <dataType>Currency</dataType>
        <expression>{!UpdateQuantityInInvestment}*{!Get_Watchlist_StocksAvl.Current_Price__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateQuantity</name>
        <dataType>Number</dataType>
        <expression>{!get_Investment.Total_Quantity__c}+{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateQuantityInInvestment</name>
        <dataType>Number</dataType>
        <expression>{!get_Investment.Total_Quantity__c}-{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateWatchlistQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Watchlist_StocksAvl.Stock_Available__c}+{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Investment2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Investment2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_create_Investment</name>
        <label>Copy 1 of create Investment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Amount_Invested__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Type__c</field>
            <value>
                <elementReference>$Record.Type_of_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Your_Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Investment</name>
        <label>get Investment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Your_Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Watchlist_StocksAvl</name>
        <label>Get Watchlist StocksAvl</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Watchlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Watchlist__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stock_Available__c</queriedFields>
        <queriedFields>Current_Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_it1</name>
        <label>update it1</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ticker__r.Ticker__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Invested__c</field>
            <value>
                <elementReference>UpdateAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>UpdateQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Your_Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Watchlist</name>
        <label>Update Watchlist</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stock_Available__c</field>
            <value>
                <elementReference>UpdateWatchlistQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Watchlist__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BUY_SELL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Approved</stringValue>
            </value>
        </filters>
        <object>Place_Orders__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GetAllRecordInInvestment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Your_Investment__c</objectType>
    </variables>
</Flow>
