force-app/main/default/flows/Final_Update_Your_Investment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Mail</name>
        <label>Mail</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BUY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BUY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Your_Investment</targetReference>
            </connector>
            <label>BUY</label>
        </rules>
        <rules>
            <name>SELL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWatchlisty</targetReference>
            </connector>
            <label>SELL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main</name>
        <label>Main</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Investment_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Your_Investment</targetReference>
            </connector>
            <label>Create it</label>
        </rules>
        <rules>
            <name>Update_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Investment_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TickerName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail</targetReference>
            </connector>
            <label>Update it</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NegativeAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Record_Investment_Name.Amount_Invested__c}-{!$Record.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NegativeQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Record_Investment_Name.Total_Quantity__c}-{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>updateAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Record_Investment_Name.Amount_Invested__c}+{!$Record.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdatedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Record_Investment_Name.Total_Quantity__c}+{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateWatchlistPositve</name>
        <dataType>Number</dataType>
        <expression>{!getWatchlisty.Stock_Available__c}+{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Final Update Your Investment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Update Your Investment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Your_Investment</name>
        <label>Create Your Investment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Amount_Invested__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Type__c</field>
            <value>
                <elementReference>$Record.Type_of_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Your_Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Investment_Name</name>
        <label>Get Record Investment Name</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Your_Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWatchlisty</name>
        <label>getWatchlisty</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_InvestNegatively</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Watchlist__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stock_Available__c</queriedFields>
        <queriedFields>Current_Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_InvestNegatively</name>
        <label>Update InvestNegatively</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Watchlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Invested__c</field>
            <value>
                <elementReference>NegativeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>NegativeQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Your_Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Watchlist</name>
        <label>Update Watchlist</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stock_Available__c</field>
            <value>
                <elementReference>UpdateWatchlistPositve</elementReference>
            </value>
        </inputAssignments>
        <object>Watchlist__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Your_Investment</name>
        <label>Update Your Investment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Invested__c</field>
            <value>
                <elementReference>updateAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>UpdatedQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Your_Investment__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Investment_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Approved</stringValue>
            </value>
        </filters>
        <object>Place_Orders__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
