force-app/main/default/flows/Get_Order_DetailsNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>BUY</name>
        <choiceText>BUY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BUY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mutual_Fund</name>
        <choiceText>Mutual Fund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mutual Fund</stringValue>
        </value>
    </choices>
    <choices>
        <name>SELL</name>
        <choiceText>SELL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stocks</name>
        <choiceText>Stocks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stocks</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Main</name>
        <label>Main</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Valid_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>get_watchlist.Stock_Available__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>If Valid Quantity</label>
        </rules>
        <rules>
            <name>If_Not_Valid_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_watchlist.Stock_Available__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>If Not Valid Quantity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Ticker_Name</name>
        <dataType>String</dataType>
        <displayField>Ticker__c</displayField>
        <object>Watchlist__c</object>
        <outputAssignments>
            <assignToReference>Ticker</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Ticker__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Get Order DetailsNew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Order DetailsNew</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>BUY_SELL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Date__c</field>
            <value>
                <elementReference>Purchase_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TickerName__c</field>
            <value>
                <elementReference>StockName.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticker__c</field>
            <value>
                <elementReference>StockName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Investment__c</field>
            <value>
                <elementReference>Type_Of_Investment</elementReference>
            </value>
        </inputAssignments>
        <object>Place_Orders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_watchlist</name>
        <label>get watchlist</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StockName.recordName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Watchlist__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stock_Available__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Sorry (Go Back)</backButtonLabel>
        <fields>
            <name>ERROR</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;&lt;u&gt;The Quantity You Have Submitted is greater then the Quantity Available in Market.&lt;/u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;&lt;u&gt;So Check Before Submitting again &lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>I Will not do it Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Place_Your_Order</name>
        <label>Place Your Order</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_watchlist</targetReference>
        </connector>
        <fields>
            <name>Type_Of_Investment</name>
            <choiceReferences>Mutual_Fund</choiceReferences>
            <choiceReferences>Stocks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Of Investment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StockName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Ticker__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ticker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Place_Orders__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Purchase_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Todays_Date</elementReference>
            </defaultValue>
            <fieldText>Purchase Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot BUY in Back Date And for Future Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Purchase_Date}==TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter Valid Quantity(&lt;strong&gt;Greater Then 0&lt;/strong&gt;)&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Quantity}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BUY_SELL</name>
            <choiceReferences>BUY</choiceReferences>
            <dataType>String</dataType>
            <fieldText>BUY/SELL</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>BUY</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>setup_service_experience__Create_Case</sourceTemplate>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Place_Your_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Watchlist__c</objectType>
    </variables>
    <variables>
        <name>Ticker</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
