force-app/main/default/flows/Get_SELL_Order_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>SELL</name>
        <choiceText>SELL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELL</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Main</name>
        <label>Main</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Investment.Total_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR_Message</targetReference>
            </connector>
            <label>If Failed</label>
        </rules>
        <rules>
            <name>If_Passes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>get_Investment.Total_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sell_Record</targetReference>
            </connector>
            <label>If Passes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AAAAAAA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Your_Investment__c</object>
        <outputAssignments>
            <assignToReference>IDD</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Tickerr</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QTY</assignToReference>
            <field>Total_Quantity__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Get SELL Order Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get SELL Order Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sell_Record</name>
        <label>Create Sell Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>BUY_SELL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Date__c</field>
            <value>
                <elementReference>SELL_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TickerName__c</field>
            <value>
                <elementReference>Tickerr</elementReference>
            </value>
        </inputAssignments>
        <object>Place_Orders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Investment</name>
        <label>get Investment</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tickerr</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Your_Investment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount_Invested__c</queriedFields>
        <queriedFields>Total_Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ERROR_Message</name>
        <label>ERROR_Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>SORRY (Go Back)</backButtonLabel>
        <fields>
            <name>Error_Error_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;The Quantity You Have Submitted is greater then Your Investment Quantity.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;So Check Before Submitting again or BUY more Quantity Before You SELL&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>I will not do it again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_SELL_Order</name>
        <label>Get SELL Order</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Investment</targetReference>
        </connector>
        <fields>
            <name>Tickerr</name>
            <choiceReferences>AAAAAAA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tickerr</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SELL_DATE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DATE</elementReference>
            </defaultValue>
            <fieldText>SELL DATE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot SELL in Back Date And for Future Date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!SELL_DATE}==TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter Valid Quantity(&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Greater Then 0&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Quantity}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BUY_SELL</name>
            <choiceReferences>SELL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>BUY/SELL</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SELL_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IDD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QTY</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Your_Investment__c</objectType>
    </variables>
</Flow>
