force-app/main/default/flows/Update_Watchlist_on_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FinalQuantity</name>
        <dataType>Number</dataType>
        <expression>{!get_Watchlist.Stock_Available__c}+{!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Watchlist on Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Watchlist on Rejection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Watchlist</name>
        <label>get Watchlist</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Watchlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Watchlist__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stock_Available__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Watchlist</name>
        <label>Update Watchlist</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TickerName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stock_Available__c</field>
            <value>
                <elementReference>FinalQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Watchlist__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Watchlist</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SELL</stringValue>
            </value>
        </filters>
        <object>Place_Orders__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
